* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  display: block;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 300px;
  border: 1px solid cornflowerblue;
  padding: 8px 16px;
  display: block;
}

button {
  /* width: 200px; */
  padding: 8px 16px;
  margin: 5px 0;
  background-color: brown;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.container {
  width: 70%;
  margin: 20px auto;
}

.form__container {
  padding: 25px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.inner__container {
  background-color: aquamarine;
}
